@model List<WebsiteSalePhones.Models.CartItem>
<div class="span4Right">
    <p><br> <strong> Support (24/7) :  0397 596861 </strong><br><br></p>
    <span class="btn btn-mini">[ @Model.Count ]<a href="/Cart/Index"><span class="fas fa-shopping-cart"></span></a></span>
    <span class="btn btn-warning btn-mini">$</span>
    <span class="btn btn-mini">&pound;</span>
    <span class="btn btn-mini">&euro;</span>
</div>
