@model List<Model.EF.HangSanXuat>


<div id="sidebar" class="span3">
    <div class="well well-small">
        <ul class="nav nav-list">
            <li> <a style="color:blue;margin-bottom:10%;font-size:1em;" href="cart.html"><strong>Danh mục điện thoại</strong></a></li>
           
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("ShowPhoneType", new {@MaHSX=item.MaHSX })"><span class="fas fa-mobile-alt" style="margin-right:10px;"></span><b>@item.TenHSX</b></a></li>
            }
            <li><a href=@Url.Action("AllPhoneCategory")><span class="fas fa-mobile-alt" style="margin-right:10px;"></span><b>Xem thêm ...</b></a></li>
        </ul>
    </div>

</div>