@using WebsiteSalePhones.Models;
@model List<Model.EF.DienThoai>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}
<div class="well np">
    <div id="myCarousel" class="carousel slide homCar">
        <div class="carousel-inner">
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/iphone-new-800-170.png" alt="bootstrap ecommerce templates">
            </div>
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/iPhone-7-7Plus-800-170.png" alt="bootstrap ecommerce templates">
            </div>
            <div class="item active">
                <img style="width:100%" src="~/Assets/Client/img/Huawei-mi8-800-170.png" alt="bootstrap ecommerce templates">
            </div>
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/Coolpad800-170.png" alt="bootstrap templates">
            </div>
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/Hotsale-J8-800-170.png" alt="bootstrap templates">
            </div>
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/Nokia51-Ver3-800-170.png" alt="bootstrap templates">
            </div>
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/Realme-v2-800-170.png" alt="bootstrap templates">
            </div>
            <div class="item">
                <img style="width:100%" src="~/Assets/Client/img/Galaxy-A7-upgrade-800-170.png" alt="bootstrap templates">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<!--
New Products
-->

<div class="well well-small">
    <h3>New Products </h3>
    <hr class="soften" />
    <div class="row-fluid">
        <div id="newProductCar" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">  
                        @Html.Action("PhoneNew","Phone")
                    </ul>
                </div>
                <div class="item">
                    <ul class="thumbnails">
                        @Html.Action("PhoneNew1", "Phone")
                    </ul>
                </div>
            </div>
            <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
<!--
Featured Products
-->
<div class="well well-small">
    <h3><a class="btn btn-mini pull-right" href="@Url.Action("AllProduct","Phone")" title="View more">VIew More<span class="fas fa-plus"></span></a> Best selling Products </h3>
    <hr class="soften" />
    <div class="row-fluid">
        <ul class="thumbnails">
            @Html.Action("PhoneBestSell", "Phone")
        </ul>
    </div>
</div>